extends layout
block content

  h1 #{title}: #{book.title}
  p #[strong Author: ] #{book.author.name}
  div(style='margin-left:15px;margin-top:15px')
  
    if book_instances.length

      p #[strong Delete the following book instances before attempting to delete this book.]

        h4 Copies
        dl
          each instance in book_instances
            dt
              a(href=instance.url) #{instance.imprint}
    else
      p Do you really want to delete this Book?

      form(method='POST')
        input#bookid.form-control(type='hidden', name='bookid', value=book._id )
        button.btn.btn-primary(type='submit') Delete
        a.btn.btn-secondary(href=book.url) Cancel