extends layout

block content
  h1= title
  p Are you sure you want to delete this genre?
  h2 Genre: #{genre.name}

  if books.length
    p This genre cannot be deleted because it is linked to the following books:
    ul
      each book in books
        li #{book.title}
    p Please delete or move the books first.

  else
    form(method='POST' action=genre.url+'/delete')
      input(type='hidden' name='genreid' value=genre._id)
      button(type='submit') Delete
